AutoRAG==0.3.12
beautifulsoup4==4.12.3
boto3==1.35.90
botocore==1.35.90
chroma-hnswlib==0.7.6
chromadb==0.5.23
docx2txt==0.8
fastapi==0.115.6
google-ai-generativelanguage==0.6.10
google-api-core==2.24.0
google-api-python-client==2.157.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.3
googleapis-common-protos==1.66.0
gradio==5.9.1
gradio_client==1.5.2
huggingface-hub==0.27.0
ipykernel==6.29.5
ipython==8.31.0
Jinja2==3.1.5
langchain==0.3.13
langchain-chroma==0.1.4
langchain-community==0.3.13
langchain-core==0.3.28
langchain-google-genai==2.0.7
langchain-ollama==0.2.2
langchain-openai==0.2.14
langchain-pinecone==0.2.0
langchain-text-splitters==0.3.4
langchain-unstructured==0.1.6
langchain-upstage==0.4.0
langsmith==0.2.7
langchain==0.3.13
langchain-chroma==0.1.4
langchain-community==0.3.13
langchain-core==0.3.28
langchain-google-genai==2.0.7
langchain-ollama==0.2.2
langchain-openai==0.2.14
langchain-pinecone==0.2.0
langchain-text-splitters==0.3.4
langchain-unstructured==0.1.6
langchain-upstage==0.4.0
langsmith==0.2.7
llama-parse==0.5.19
lxml==5.3.0
marshmallow==3.23.2
matplotlib==3.10.0
nltk==3.9.1
numpy==1.26.4
ollama==0.4.5
onnxruntime==1.19.2
openai==1.58.1
opencv-python==4.10.0.84
openpyxl==3.1.5
pandas==2.2.3
pillow==11.0.0
pinecone==5.4.2
pinecone-client==5.0.1
pinecone-plugin-inference==1.1.0
pinecone-plugin-interface==0.0.7
posthog==3.7.4
proto-plus==1.25.0
protobuf==5.29.2
protoc-gen-openapiv2==0.0.1
pymilvus==2.5.2
PyMuPDF==1.25.1
PyMySQL==1.1.1
pyngrok==7.2.2
python-dateutil==2.8.2
python-docx==1.1.2
python-dotenv==1.0.1
python-json-logger==3.2.1
python-multipart==0.0.20
pytz==2024.2
pyviz_comms==3.0.3
PyYAML==6.0.2
ragas==0.2.9
SQLAlchemy==2.0.36
streamlit==1.41.0
toml==0.10.2
tomli==2.2.1
tomlkit==0.13.2
tornado==6.4.2
tqdm==4.67.1q
traitlets==5.14.3
transformers==4.44.2
urllib3==2.3.0
uvicorn==0.34.0